.sec-mobile {
	max-width: 992px;
	margin: auto;
	width: 100%;
	padding: 3rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.sec-mobile .intro {
	text-align: center;
}
.sec-mobile .intro h3 {
	font-size: 1.7rem;
}
.sec-mobile .intro p {
	color: #888;
	font-size: 0.8rem;
}
.sec-mobile .features {
	display: flex;
	gap: 1rem;
	align-items: center;
}
.sec-mobile .features .text {
	padding: 2rem 0;
	flex: 1;
}
.sec-mobile .features .text .feature {
	display: flex;
	flex-direction: row;
	align-items: center;
}
.sec-mobile .features .text .feature .description {
	margin-left: 1rem;
	max-width: 20rem;
}
.sec-mobile .features .text .feature .description .title-fet {
	font-size: 1.15em;
}
.sec-mobile .features .text .feature .description .text-fet {
	font-size: 0.8rem;
}
.sec-mobile .features .image img {
	max-height: 25rem;
}
